!!!
%html
  %head
    %meta{charset: "utf-8", content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{href: "/css/bootstrap.min.css", rel: "stylesheet"}/
    %title ISUCON選挙結果
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: "/"} ISUCON選挙結果
        .header.clearfix
          %nav
            %ul.nav.nav-pills.pull-right
              %li{role: "presentation"}
                %a{href: "/vote"} 投票する
    != yield
