.jumbotron
  .container
    %h1 清き一票をお願いします！！！
.container
  .row
    .col-md-6.col-md-offset-3
      .login-panel.panel.panel-default
        .panel-heading
          %h3.panel-title 投票フォーム
        .panel-body
          %form{action: "/vote", method: "POST"}
            %fieldset
              %label 氏名
              .form-group
                %input.form-control{autofocus: "", name: "name"}/
              %label 住所
              .form-group
                %input.form-control{name: "address", value: ""}/
              %label 私の番号
              .form-group
                %input.form-control{name: "mynumber", value: ""}/
              %label 候補者
              .form-group
                %select{name: "candidate"}
                  - candidates.each do |candidate|
                    %option{value: "#{candidate[:name]}"}= candidate[:name]
              %label 投票理由
              .form-group
                %input.form-control{name: "keyword", value: ""}/
              %label 投票数
              .form-group
                %input.form-control{name: "vote_count", value: ""}/
              .text-danger= message
              %input.btn.btn-lg.btn-success.btn-block{name: "vote", type: "submit", value: "投票"}/
